<div class="content-top clearfix">
  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/pages/dashboard" translate>首页</a>
    </li>
    <li class="breadcrumb-item active" translate>系统管理</li>
    <li class="breadcrumb-item active" translate>系统管理</li>
  </ul>
  <ul class="topnav">
        <li><a href><i class="fa fa-user"></i>个人信息</a></li>
        <li ><a href><i class="fa fa-cog"></i>设置</a></li>
        <li><a href class="signout"><i class="fa fa-power-off"></i>退出</a></li>
  </ul>
</div>
