<div class="wrap">
	<h2 class="net-title">机构人员监督</h2>

	<ngb-tabset type="pills">
	  <ngb-tab title="机构人员管理">
	    <ng-template ngbTabContent>
	      <div class="table-zone">
			  <table class="show-table">
			    <tr>
			      <th>区域</th>
			      <th>中介机构数量</th>
			      <th>中介人员数量</th>
			      <th>本月新增中介数量</th>
			      <th>本月新增中介人员数量</th>
			    </tr>
			    <tr>
			      <td class="width-180">万象街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="width-180">紫金街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			     <tr>
			      <td class="width-180">岩泉街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			     <tr>
			      <td class="width-180">白云街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			     <tr>
			      <td class="width-180">水阁街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			     <tr>
			      <td class="width-180">富岭街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="width-180">联城街道</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="width-180">碧湖镇</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="width-180">大港头镇</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="width-180">老竹畲族镇</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td class="width-180">雅溪镇</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			  </table>
			</div>
	    </ng-template>
	  </ngb-tab>
	  <ngb-tab title="机构网签排行">
	    <ng-template ngbTabContent>
			<div class="table-zone">
			  <table class="show-table">
			    <tr>
			      <th class="width-86">排名</th>
			      <th>机构名称</th>
			      <th>所在区域</th>
			      <th class="width-100">法人</th>
			      <th>人员数量</th>
			      <th>累计网签数</th>
			      <th>近月网签数</th>
			      <th>投诉次数</th>
			    </tr>
			    <tr>
			      <td>1</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>2</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>3</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>4</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>5</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>6</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr> 
			     <tr>
			      <td>7</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>8</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			     <tr>
			      <td>9</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>10</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>   
			  </table>
			</div>
	    </ng-template>
	  </ngb-tab>
	  <ngb-tab title="人员网签排行" >
	    <ng-template ngbTabContent>
	      <div class="table-zone">
			  <table class="show-table">
			    <tr>
			      <th class="width-86">排名</th>
			      <th>经纪人</th>
			      <th>所属公司</th>
			      <th>累计网签数</th>
			      <th>近月网签数</th>
			      <th>投诉次数</th>
			    </tr>
			    <tr>
			      <td>1</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>2</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>3</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>4</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>5</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>6</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>7</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>8</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>9</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr>
			      <td>10</td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			  </table>
			</div>
	    </ng-template>
	  </ngb-tab>
	</ngb-tabset>
</div>