<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="CancelClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

   <form  class="form-horizontal step slide-right" role="form">
    <input class="form-control" type="hidden" ng-model="model.userid" type="text" style="display: none;"/>
    <div class="form-group row">
      <label class="col-sm-3 control-label" for="txtLoginName">手机号码</label>
      <div class="col-sm-6">
        <input class="form-control" name="txtmobilephone" [(ngModel)]="model.mobilePhone" type="text"  required/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label" for="txtrealname">用户姓名</label>
      <div class="col-sm-6">
        <input class="form-control" name="txtLoginName" [(ngModel)]="model.name" type="text" required/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label" for="txtrealname">密码</label>
      <div class="col-sm-6">
        <input class="form-control" name="password"  type="password" required/>
      </div>
    </div>
   </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="OKClick()">保存</button>
    <button class="btn btn-default" (click)="CancelClick()">取消</button>
  </div>
</div>
