<!-- <chart [options]="options"></chart> -->
<div class="net-title">{{title}}</div>
<div class="list-block">
	<div class="block" (click)="goMeiriwangqian()">
    <div class="show-zone">
      <p class="show-title" >每日网签统计</p>
      <p class="show-detail">
        将统计每日网签情况进行分类统计，形成表格，方便日度对比分析
      </p>
    </div> 
  </div>
  <div class="block" (click)="goNetanalysis()">
    <div class="show-zone">
      <p class="show-title">网签统计分析</p>
      <p class="show-detail">
        对全市历史存量房以及走势进行全局分析和结构分析，满足不同结构分析统计功能
      </p>
    </div> 
  </div>
  <div class="block" (click)="goStaffmanage()">
    <div class="show-zone">
      <p class="show-title">机构人员监管</p>
      <p class="show-detail">
        对全市二手房中介机构以及人员进行规范登记和管理
      </p>
    </div> 
  </div>
  <div class="block" (click)="goMeiriwangqian()">
    <div class="show-zone">
      <p class="show-title">每日网签统计</p>
      <p class="show-detail">
        将统计每日网签情况进行分类统计，形成表格，方便日度对比分析
      </p>
    </div> 
  </div>
</div>
