.wrap{
	padding:0 20px;
}
.net-title{
	margin:10px 0;
	font-size:30px;
	line-height:100%;
}

.table-zone .show-table{
	width:100%;
	background:#fff;
}
.show-table th{
	font-weight:bold;
	text-align:center;
	line-height:32px;
	background:#e9edf4;
	border:1px solid #fff;
}
.show-table td{
	height:26px;
	line-height:26px;
	background:#e9edf4;
	text-align:center;
	border:1px solid #fff;
}
.show-table .width-86{
	width:86px;
}

.select-list li{
	margin:5px 0;
}
.select-list .form-li{
	height:34px;
	line-height:34px;
}
.select-list .btn-li{
	height:38px;
	line-height:38px;
}

.select-list button{
	display:inline-block;
	margin-right:6px;
	padding:5px 10px;
	border:1px solid #e7eaec;
	border-radius:4px;
	background:#fff;
	outline:none;
	cursor:pointer;
}

.select-list form{
	margin:0 5px;
}