<div class="content-panel">
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="product_name">搜索:</label>
                        <div class="input-group top-search-margin">
                            <input (keyup)="keyupSearch($event)" placeholder="用户名或手机号" type="text" [(ngModel)]="model.searchText" class="form-control">
                            <span class="input-group-addon" (click)="filterList()"> <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <a ng-click="filterDownToggle()" *ngIf="false">
                            更多筛选 <i ng-class="{'active': (settings.toggle)}" class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div  style="text-align:right;" ng-show="needClear" class="col-sm-2 colp" *ngIf="false">
                <p><i class="fa fa-times"></i> 清空搜索条件</p>
            </div>
        </div>
    </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <button class="btn btn-danger" (click)="EditVillage()">添加小区</button>
            </div>
            <div class="ibox-content">
                    <table class="table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>小区名</th>
                                <th>地区名</th>
                                <th>地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="slide-top ani-item" *ngFor="let data of DataList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.districtName}}</td>
                                    <td>{{data.address}}</td>
                                    <td>
                                        <i (click)="EditVillage(data)" class="fa fa-lg fa-pencil"></i>
                                        <i (click)="delete(data)"  class="fa fa-lg fa-trash-o"></i>
                                        <i (click)="map(data)"  class="fa fa-lg fa-map-marker"></i>
                                    </td>
                                </tr> 
                                <tr class="slide-top ani-item" *ngIf="!DataList.length" >
                                    <td style="text-align:center;" colspan="7">
                                        暂无数据1
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="row" style="text-align:right;margin-right:0;" *ngIf="RecordCount/PageSize >1">
                    <ngb-pagination [collectionSize]="RecordCount" [(page)]="PageNum" [(pageSize)]="PageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
                </div>
                
            </div>

        </div>
    </div>
</div>
